In [8]:
!jupyter nbextension enable --py --sys-prefix qgrid

Enabling notebook extension qgrid/extension...
      - Validating: OK

In [16]:
import qgrid
import pandas as pd

In [17]:
x = pd.DataFrame([[1, 2, 3], [4, 5, 6]])

In [18]:
x

   0  1  2
0  1  2  3
1  4  5  6

In [19]:
grid = qgrid.show_grid(x, show_toolbar=True)

In [20]:
grid

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [21]:
grid

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [22]:
grid.get_changed_df()

   0  1  2
0  1  2  3
1  4  5  6